/* General Layout */
body::before {
    /* content: "CSS Connected"; */
}
body {
    padding-bottom: 30px;
}

/* Time Block */
.hour {
    width: 6ch;
}
.description {
    text-align: left;
}
.saveBtn {
    width: 6ch;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.saveBtn i {
    cursor: pointer;
    text-align: center;
}

/* Contenteditable placeholder */
.description:empty:before {
    content: attr(data-placeholder);
}.description:empty {
    opacity: .5;
}